<div class="authRequired">
  <h1>
    <span routerLink="/sign-in">Sign In</span> or
    <span routerLink="/sign-up">Sign Up</span> to enjoy millions articles!
  </h1>
</div>

<div style="position: relative;">
  <ng-container *ngIf="articles; else spiner">
    <app-article [articles]="articles" *ngIf="articles"></app-article>
    <!-- Pagination -->
    <div class="buttonContainer">
      <div class="pagination">
        <button
          class="fnBtn"
          (click)="back()"
          [disabled]="show == 0 ? 'disabled' : ''"
        >
          <i class="fas fa-backward"></i>
        </button>
        <button class="page">{{ show + 1 }}</button>
        <button
          class="fnBtn"
          (click)="next()"
          [disabled]="show > endPage - 1 ? 'disabled' : ''"
        >
          <i class="fas fa-forward"></i>
        </button>
      </div>
    </div>
  </ng-container>
  <!-- Spiner -->
  <ng-template #spiner>
    <div class="spinner">
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </ng-template>
</div>
