<div class="commentContainer">
  <div *ngIf="listComment; else spiner">
    <h3 *ngIf="listComment.length == 0">
      There have been no comment yet, be the first one!
    </h3>
    <div
      *ngFor="let comment of listComment; let i = index"
      class="comment"
      [class]="'cm' + i"
    >
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" class="avatar">
            <img [src]="comment.author.image" class="avatar" />
          </div>
          <mat-card-title>
            <h4
              [mat-dialog-close]="''"
              (click)="navigateToUser(comment.author.username)"
              style="cursor: pointer;"
            >
              {{ comment.author.username }}
            </h4>
          </mat-card-title>
          <mat-card-subtitle>
            <div class="function">
              <p>
                {{ comment.createdAt | date: 'mediumDate' }}
                <span
                  *ngIf="comment.author.username == currentUser?.user.username"
                  (click)="delete(comment.id, i)"
                  ><i class="fas fa-trash-alt"></i
                ></span>
              </p>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ comment.body }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<form #form="ngForm" (submit)="comment(form)" *ngIf="currentUser">
  <mat-form-field appearance="outline" class="input">
    <mat-label>Comment</mat-label>
    <textarea matInput name="body" ngModel rows="3" required></textarea>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Comment
  </button>
</form>

<ng-template #spiner>
  <div class="spinner">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
